/*
.tree {
	cursor: default;
	border: 1px solid DodgerBlue;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 12px;
	max-height: 100%;
}

.tree-node {
	display: flex;
	align-items: center;
}

.tree-node-name {
	padding: 1px;
}

.tree-node-name:hover {
	background-color: lightcyan;
}

.tree-node-name-selected {
	border: 1px dotted;
	background-color: DodgerBlue;
	color: white;
}

.tree-subnodes {
	margin-left: 16px;
}
*/


